<footer class="footer" id="footer-section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-left has-text-centered-mobile">
        <p>© Jukka Pajarinen</p>
      </div>
      <div class="column has-text-right has-text-centered-mobile">
        <a id="changeLanguageLink" href="/">{{ lang }}</a>
      </div>
    </div>
  </div>
</footer>