<div class="container mx-auto">
  <h2 class="mb-3 text-2xl font-semibold leadi">{{ pageTitle }}</h2>

  <p *ngIf="MySymbolsService.selectedSymbols.length < 1" class="italic">
    You have not selected any symbols.
  </p>

  <div
    *ngIf="MySymbolsService.selectedSymbols.length > 0"
    class="grid grid-cols-1 gap-x-4 gap-y-8 md:grid-cols-2"
  >
    <div
      class="p-6 rounded-md shadow-md bg-gray-50 text-gray-900"
      *ngFor="let selectedSymbol of MySymbolsService.selectedSymbols"
    >
      <div
        id="chartContainer_{{ selectedSymbol.symbol }}"
        class="object-cover object-center w-full rounded-md h-72"
      >
        <div class="inline-flex">
          <svg
            class="animate-spin -ml-1 mr-3 h-5 w-5 text-violet-800"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            ></path>
          </svg>
          Processing...
        </div>
      </div>
      <div class="mt-6 mb-2 flex justify-between">
        <h2 class="text-xl font-semibold tracki">
          {{ selectedSymbol.symbol }}
        </h2>
        <span
          class="block text-md font-medium tracki uppercase text-violet-600 text-right"
        >
          {{ fetched[selectedSymbol.symbol]?.values?.[0]?.close }}</span
        >
      </div>
    </div>
  </div>
</div>
